<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
    <title>Holiday Light Controller</title>
</head>
<body>
    <h1>Holiday Light Controller<h1><h3>Test<h3></h3>
        <form method="POST">
            
            <!-- Button submits the form -->
            <div align="left" class="row justify-content-md-center">
                <div class="col col-md-2">
                  <button 
                    class="btn btn-primary"
                    name="eventSel"
                    type="submit" value="Light, holiday">Holiday to Light</button>
                </div>
                <div>
                  <h5 align ="center">Events
                </div>
                <div align="right" class="col col-md-2">
                  <button 
                  class="btn btn-primary"
                  name="eventSel"
                  type="submit" value="Ctrl, holiday">Holiday to Ctrl</button>
                </div>
              </div>
              <br/><br/><br/><br/>
              <div align="left" class="row justify-content-md-center">
                <div class="col col-md-2">
                  <button 
                    class="btn btn-primary"
                    name="eventSel"
                    type="submit" value="Light, today">today to Light</button>
                </div>
        
                <div>
                  <h5 align ="center">Events
                </div>
                <div align="right" class="col col-md-2">
                  <button 
                  class="btn btn-primary"
                  name="eventSel"
                  type="submit" value="Ctrl, today">today to Ctrl</button>
                </div>
              </div>
            <!-- End of button sends the delete command to delete the selected saved game -->
            <!-- Button submits the form -->
        </form>
    <!-- Javascript Libraries-->
    <script
       src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
       integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
       crossorigin="anonymous"
   ></script>
   <script
       src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
       integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
       crossorigin="anonymous"
   ></script>
   <script
       src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
       integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
       crossorigin="anonymous"
   ></script>
   
</body>
</html>